.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 300px;

}


.btn{
  height: 50px;
  width: 50px;
  border-radius: 5px;
}